{#
/**
 * @file
 * Theme override for a Paragraph.
 *
 * This generic template provides a safe, accessible wrapper for Paragraph
 * entities and can be overridden per-bundle by adding
 * "paragraph--BUNDLE.html.twig" in the same folder.
 *
 * Available variables:
 * - content: The paragraph content render array.
 * - attributes: HTML attributes for the wrapper element.
 * - paragraph: The paragraph entity.
 * - bundle: Paragraph bundle machine name.
 */
#}
<article{{ attributes.addClass('paragraph', 'paragraph--' ~ paragraph.bundle|clean_class) }}>
  {{ title_prefix }}

  {% if paragraph.label %}
    <h2 class="paragraph__title">{{ paragraph.label }}</h2>
  {% endif %}

  {{ title_suffix }}

  <div class="paragraph__content">
    {{ content }}
  </div>
</article>
